.rock, .paper, .scissors {
    background-size: cover;
    width: 250px;
    height: 250px;
    cursor: pointer;
    
}
.inv {
    filter: hue-rotate(90deg);
}
.rock {
    background-image: url(./img/rock.png);
}
.paper {
    background-image: url(./img/paper.png);
}

.scissors {
    background-image: url(./img/scissors.png);
}
.container {
    display: flex;
    width: 100vw;
    justify-content: space-around;
}
h1 {
    text-align: center;
    color: rgb(69, 233, 255);
    font-family: sans-serif;
    font-weight: 600;
}
body {
   overflow: hidden;
}

#my {
    text-align: right;
    margin-top: -2em;
    margin-right: 4em;
    color: #FC466B;
    display: none;
    
}
#your {
    text-align: left;
    display: none;
    margin-left: 4em;
    
    color: rgb(69, 233, 255);
}

.none {
    display: none;
}
.vs {
    background-image: url(./img/vs.png);
    background-size: cover;
    width: 250px;
    height: 250px;
}
#try {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 1em;
    padding: .5em 1.5em;
    border-radius: 50px;
    border: none;
    background-color: rgb(69, 233, 255);
    color: white;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    display: none;
}